@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	/* background-color: #f6f6f6; */
	background-image: url(https://img.freepik.com/vector-gratis/cielo-blanco-escena-diurna-paisaje-inundaciones-blanco_1308-57834.jpg?t=st=1679758882~exp=1679759482~hmac=01267a0154dd788da585e88f232393498fcdb2870ecfa1620c9b6b9d15a3909e);
	color: #333;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	text-shadow: 4px 6px 4px grey;
}

form {
	max-width: 600px;
	margin: 0 auto;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-shadow: 9px 6px 9px black;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
}

button[type="submit"] {
	background-color: #fc3d34;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #d12d26;
	text-shadow: 9px 6px 9px black;
}

.resultados {
	margin-top: 30px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.resultados h2 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 20px;
}

.resultados ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.resultados li {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

@media (max-width: 500px) {
	form {
		max-width: 450px;
		/* margin: 0 auto;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px; */
	}

	button[type="submit"] {
		/* background-color: #fc3d34;
        color: #fff;
        border: none; */
		padding: 7px 15px;
		border-radius: 3px;
		/* font-size: 16px;
        font-weight: 500; */
		/* cursor: pointer;
        transition: background-color 0.3s ease; */
	}

	button[type="submit"]:hover {
		/* background-color: #d12d26; */
		text-shadow: 9px 6px 9px black;
	}
}
