@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f6f6f6;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  background-image: url(/proyectoPrueba/imagenes/bali.jpg);
  background-size: auto;

  /* MIARAR LO DE LA IMAGEN DE FONDO CUANDO ESTAMOS EN DISPOSITIVO MOVIL */
}

header {
  display: flex;
  height: 100px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

form {
  background-color: #333;
  max-width: 275px;
  max-height: 350px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form.day {
  max-width: 275px;
  max-height: 350px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label.dia {
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

label {
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 500;
  color: #ddd;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #fc3d34;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #d12d26;
}

.resultados {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.resultados h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.resultados ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resultados li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

#saludo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button.inicial {
  display: flex;
  height: 40px;
  background: transparent;
  border: 2px solid #d12d26;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  padding: 10px;
}

button.inicial > img {
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  background-color: rgb(51, 51, 51);
  color: #d12d26;
  text-align: center;
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 5px;
}

.evento-galeria {
  display: flex;
  height: 10rem;
  gap: 1rem;
}

.evento-galeria > section {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.evento-galeria > section:hover {
  flex: 5;
}

@media (min-width: 420px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
  }

  form {
    max-width: 500px;
    max-height: 400px;
  }

  form.day {
    max-width: 500px;
    max-height: 400px;
  }

  .evento-galeria {
    height: 20rem;
    padding-bottom: 1rem;
  }
} ;
